body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 20%;
    
}
#mid-on{
    padding-left: 40%;
}
#mid-off{
    color: orange;
}
    
.half-width img{
    width: 50%;
}
.link-button{
    background-image: linear-gradient(red, orange);
    text-decoration: none;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.center-mid{
    padding-left: 20%;
    size: 50%;
}
.center-mid img{
    width: 50%;
}
.j-1{
    
    margin-bottom: 100px;
    margin-left: 80px;
    background-color:#edf5f6;
    border-radius: 10px;
    text-align: justify;
}

.j-2{
   
    margin-bottom: 100px;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 10px;
    background-color: #ffeeee;
    
}
.j-3{
    
    margin-bottom: 100px;
    margin-left: 40px;
    background-color: #ffeeee;
    text-align: justify;
}
    
