body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: palevioletred;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 20%;
    
}
.half-width{ 

font-size: 20px;
}
#mid-on{
    padding-left: 40%;
}
#mid-off{
    color: red;
}
    
.half-width img{
    width: 50%;
}
.link-button{
    background-image: linear-gradient(red, orange);
    text-decoration: none;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.center-mid{
    padding-left: 20%;
    size: 50%;
}
.center-mid img{
    width: 50%;
}
.j-1{
    
    margin-bottom: 100px;
    margin-left: 80px;
    border-radius: 10px;
    text-align: justify;
    background-color:#edf5f6;
}

.j-2{
   
    margin-bottom: 100px;
    margin-left: 80px;
    margin-right: 80px;s
    border-radius: 10px;
    text-align: justify;
    background-color: #ffeeee;
    
}
.j-3{s
    
    margin-bottom: 100px;
    margin-left: 40px;
    text-align: justify;
    background-color: #00e1ff;
}
.last-item{
    width: 40%;
    margin-bottom: 80px;
    margin-left: 6%;
    margin-right: 6%;
    padding: 22px;
    border-radius: 11px;
    box-shadow: 22px 22px 42px gray;
   }

   .last-item{

   text-align: justify;
   font-size:20px
   }
   
   
.footer-part{
    color: red;
   }

.p-p{
    text-align: center;
    font-size: 37px;
    background: #444444;
    height: 100px;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    padding: 20px;
}
.stay-focus{
    border-left: 8px solid;
    border-radius: 10px;
    border-image:linear-gradient(tomato,red) 10;
}
   